* {
    margin: 0;   /*zerar margem*/
    padding: 0;  /*zerar espaçamento*/
    box-sizing: border-box; /*todos os elementos não passem da largura do elemento pai*/
    font-family: Helvetica; 
}

body {
    background-color: black;
    display: flex;
    align-items: center; /*alinhar intens no centro*/
    justify-content: center; /*açinhar calculadora no centro tanto horizontal como vertical*/
    padding: 3em;
}

#calc {
    width: 500px;
    padding: .6em;
    background-color: rgb(172, 210, 243);
    color: black;
    display: flex; /*intens internos*/
    flex-direction: column; /*itens uma a baixo do outro*/
}

#calc h3 {    
    font-size: .8em;
    font-weight: 300;
    color: rgb(46, 129, 101);
}

#operations {
    text-align: right;  /*numeros da direita para esquerda*/
}

#previous-operation,
#current-operation {
    min-height: 1.6em;
    padding: .2em;  /*tirando os numeros da extremidade*/
    overflow-wrap: break-word; /*prever a altura dos numero e quebrar linha para baixo*/
}

#previous-operation {
    color: rgb(218, 166, 24);
}

#current-operation {
    font-size: 3em;
    font-weight: 700;
    color: brown;
}

#buttons-container { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* definir proporção de cada coluna */
    gap: 3px;
}

#buttons-container button {
    border: 1px solid transparent;
    border-radius: 0;
    height: 4em;
    font-size: 1.2em;
    background-color: aliceblue;
    cursor: cell;   
}

#buttons-container button:hover {  
    background-color: #bababa;
    border-color: #999;
}

#buttons-container .number {
    background-color: #f3f3f3f3;
}

#buttons-container #equal-btn {
    grid-column: span 2;  /*  ocupar 2 espaços na linha para o botao ficar maior */
    background-color: rgb(59, 211, 211);
}

#buttons-container #equal-btn:hover {
    background-color: rgb(40, 150, 150);
}